@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --success-color: #23cc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.seat {
  background-color: #fff;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.row {
  display: flex;
}

.city-container {
  margin: 20px 0;
}

.city-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #444451;
}

.seat:nth-of-type(3) {
  margin-right: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.fly .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.fly {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.fly li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.fly li small {
  margin-left: 10px;
}

.plane {
  background-color: #fff;
  width: 140px;
  height: 170px;
  margin: 15px 0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.container2 {
  perspective: 1000px;
  margin-bottom: 30px;
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
